<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div *ngFor="let resourceType of resourceTypes" class="card">
      <div class="card-header">
        {{resourceType.name}}
      </div>
      <div class="card-block">
        <div class="card-title">
          {{resourceType.descr}}
        </div>
        <div class="card-text">
          Length: {{resourceType.length}} <br>
          Prefix: {{resourceType.prefix}} <br>
          Reservation Time: {{resourceType.reservationTime}} <br>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" [routerLink]="['/resourceView', {resTypeName: resourceType.name, pageSize: 10, pageNumber: 0}]">View</button>
        <button class="btn btn-sm btn-link" [routerLink]="['/resourceView']">View Nested</button>
      </div>
    </div>
  </div>
</div>