<div class="row">
  <div *ngFor="let resourceType of resourceTypes" class="col-lg-5 col-md-6 col-sm-12 col-xs">
    <div class="card clickable" routerLink="resTypeName/{{resourceType.name}}/pageNum/0/pageSize/10">
      <div class="card-header">
        {{resourceType.name}}
      </div>
      <div class="card-block">
        <div class="card-title">
          {{resourceType.descr}}
        </div>
        <div class="card-text">
          Length: {{resourceType.length}} <br>
          Prefix: {{resourceType.prefix}} <br>
          Reservation Time: {{resourceType.reservationTime}} <br>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-text">
          Number of Resources: {{reportHash.get(resourceType.name)}}
        </div>
      </div>
    </div>
  </div>
</div>