.login-wrapper {
    background: none;
    background-size: cover;
    background-position: 21rem 0;
    background-repeat: no-repeat;
}

.login-wrapper .login{
    margin: 0 auto 0;
    padding: 0rem 2.5rem;
}
.login-wrapper .login:after{
    background: none;
}