<div *ngIf="alertMessage" [ngClass]="alertClass">
  <div class="alert-items">
      <div class="alert-item static">
          <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
              {{alertMessage}}
          </span>
      </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<h3 highlight>List of '{{resourceType.descr}}' Resources</h3>

<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">Resource Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'resourceStatus.name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Resource Status</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'descr'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Description</ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'relatedResource.name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">Related Resource</ng-container>
  </clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-row *clrDgItems="let resource of resources">
    <clr-dg-cell>{{resource.name}}</clr-dg-cell>
    <clr-dg-cell>{{resource.resourceStatus.descr}}</clr-dg-cell>
    <clr-dg-cell>{{resource.descr}}</clr-dg-cell>
    <clr-dg-cell>{{resource.relatedResource?.name}}</clr-dg-cell>
    <clr-dg-cell>
      <button *ngIf="resource.resourceStatus.name == 'AVAILABLE'" class="btn btn-sm" (click)="reserveModal(resource)">Reserve</button>
      <button class="btn btn-sm" routerLink="/resources/list/resName/{{resource.name}}">Edit</button>
      <button *ngIf="resource.resourceStatus.name != 'RETIRED'" class="btn btn-sm" (click)="retireModal(resource)">Retire</button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{page.number * page.size + 1}} - {{(page.number + 1) * page.size}} of {{page.totalElements}} resources &nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="page.number > 0" routerLink="/resources/list/resTypeName/{{resourceType.name}}/pageNum/{{page.number - 1}}/pageSize/{{page.size}}">Previous </a>
    <a *ngFor="let i of pageArray; let index = index" routerLink="/resources/list/resTypeName/{{resourceType.name}}/pageNum/{{index}}/pageSize/{{page.size}}">{{index + 1}} </a>
    <a *ngIf="page.number <= page.totalPages - 2" routerLink="/resources/list/resTypeName/{{resourceType.name}}/pageNum/{{page.number + 1}}/pageSize/{{page.size}}">Next </a>
  </clr-dg-footer>
</clr-datagrid>
<p>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
</p>

<clr-modal [(clrModalOpen)]="reserveConfirmModal">
  <h3 class="modal-title">Reserve confirmation</h3>
  <div class="modal-body">
    <p>Please confirm you want reserve '{{selResource?.name}}'</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="reserveConfirmModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="reserveResource(selResource)">Ok</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="retireConfirmModal">
  <h3 class="modal-title">Retire confirmation</h3>
  <div class="modal-body">
    <p>Please confirm you want retire '{{selResource?.name}}'</p>
    <p>Plese note that this is final status with no possibility to change back to any other status.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="retireConfirmModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="retireResource(selResource)">Ok</button>
  </div>
</clr-modal>