<div class="row">
  <div *ngFor="let resourceType of resourceTypes" class="col-lg-5 col-md-6 col-sm-12 col-xs">
    <div class="card">
      <div class="card-header">
        {{resourceType.name}}
      </div>
      <div class="card-block">
        <div class="card-title">
          {{resourceType.descr}}
        </div>
        <div class="card-text">
          Length: {{resourceType.length}} <br>
          Prefix: {{resourceType.prefix}} <br>
          Reservation Time: {{resourceType.reservationTime}} <br>
        </div>
        <div class="card-text">
            <p>Resource report:</p>
            <ul>
              <ng-container *ngFor="let resourceCount of resourceCounts">
                <li *ngIf="resourceCount.resourceType.name == resourceType.name">{{resourceCount.resourceStatus.descr}} - {{resourceCount.count}}</li>
              </ng-container>
            </ul>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" routerLink="XXXX">Add</button>
        <button class="btn btn-sm btn-link" routerLink="XXXX">Add Many</button>
        <button class="btn btn-sm btn-link" routerLink="XXXX">Generate</button>
      </div>
    </div>
  </div>
</div>